<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<!--Header-part-->
<header th:fragment="header">
    <div id="header">
        <h1><a href="dashboard.html">Matrix Admin</a></h1>
    </div>
    <!--close-Header-part-->

    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class=""><a title="" href="#"><i class="icon-user"></i> <span class="text">Perfil</span></a></li>
            <li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span
                    class="text">Logout</span></a></li>
        </ul>
    </div>
</header>

</body>
</html>